In [2]:
import pandas as pd
a=[1,2,3,4,5]
s1=pd.Series(a,index=['c1','c2','c3','c4','c5'])
s1

c1    1
c2    2
c3    3
c4    4
c5    5
dtype: int64

In [3]:
s2=pd.Series(index=['one','two'],data=['1','2'])
s2

one    1
two    2
dtype: object

In [4]:
d={'one':1,'two':2}
s3=pd.Series(d)
s3

one    1
two    2
dtype: int64

In [11]:
data={
    'c1':{
        1:'a',
        2:'b'
    },
    'c2':{
         1:'c',
        2:'d'
    }

}
df=pd.DataFrame(data)
df

  c1 c2
1  a  c
2  b  d

In [13]:
df1=pd.read_csv('data.csv')
df1.iloc[5]

Duration     60.0
Pulse       102.0
Maxpulse    127.0
Calories    300.0
Name: 5, dtype: float64

In [14]:
df1.head(n=6)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
5        60    102       127     300.0

In [17]:
max=df1.loc[0,'Duration']
for i in df1['Duration']:
    if(i>max):
        max=i
print(max)

300

In [24]:
df1.fillna(0)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [23]:
df1

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]